#tanura-src
    link(rel='stylesheet', href=base+'stylesheets/style.css')
    link(rel='stylesheet', href='https://nginx.it-con.biz/cdn/stylesheets/literallycanvas.css')
    script(type='text/javascript', src=base+'javascripts/helper.js')
    script(type='text/javascript', src=base+'javascripts/erizo.js')
    script(type='text/javascript', src='https://nginx.it-con.biz/cdn/javascripts/literallycanvas-core.js')
    script(type='text/javascript', src=base+'javascripts/app.js')
    script(type='text/javascript', src=base+'javascripts/script.js')
